# ignore everything
*

# but don't ignore files ending with slash = directories
!*/

# and don't ignore these files:
!.gitignore
!README.md

!*.sh
!*.log
!*.Rmd
!*.html

zhang_hg38.bwa.QC.split_MA.log
