# ignore everything
*

# but don't ignore files ending with slash = directories
!*/

# and don't ignore these files:
!.gitignore
!README.md

!s01_explore_annotations/*.sh
!s01_explore_annotations/*.log
!s01_explore_annotations/*.Rmd
!s01_explore_annotations/*.html

!s02_link_annovar_to_vcf/*.sh
!s02_link_annovar_to_vcf/*.log
!s02_link_annovar_to_vcf/*.Rmd
!s02_link_annovar_to_vcf/*.html

!s03_genes_in_text_files/*.sh
!s03_genes_in_text_files/*.log
!s03_genes_in_text_files/*.Rmd
!s03_genes_in_text_files/*.html

!s04_explore_gene_list/*.sh
!s04_explore_gene_list/*.log
!s04_explore_gene_list/*.Rmd
!s04_explore_gene_list/*.html

!s05_select_variants/*.sh
!s05_select_variants/*.log
!s05_select_variants/*.Rmd
!s05_select_variants/*.html

#!*.sh
#!*.log
#!*.Rmd
#!*.html
